

<form method="post" asp-action="SubmitPart">
    <input type="url" name="studentname" /> избери ученик
    <br />
    <br />
    <input type="url" name="href" /> задание (снимка или файл)
    <br />
    <br />
    <input type="text" name="partname" /> име на домашното
    <br />
    <br />
    <input type="text" name="parttype" /> описание
    <br />
    <br />
    <input type="text" name="price" /> точки
    <br />
    <br />
    <input type="submit" value="добави" />
</form>

<br />
<input type="button" value="обратно" onclick="Return()" />

<script>
    function Return() {
        window.close();
    }
</script>