
<form method="post" asp-action="SubmitMyHomework">
    <input type="text" name="Name" /> Домашно
    <br />
    <br />
    <input type="url" name="href" /> решение (снимка или файл)
    <br />
    <br />
    <input type="text" name="notes" /> бележки
    <br />
    <br />
    <input type="submit" value="добави" />
</form>

<br />
<input type="button" value="обратно" onclick="Return()" />

<script>
    function Return() {
        window.close();
    }
</script>