<form method="post" asp-action="SubmitHomeworkSolution" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@ViewBag.HomeworkId" />
    <input type="file" name="file" /> решение (снимка или файл)
    <br />
    <br />
    <input type="text" name="notes" /> бележки
    <br />
    <br />
    <input type="submit" value="добави" />
</form>

<br />
<form asp-controller="Homework" asp-action="MyHomeworks">
    <input type="submit" value="обратно" />
</form>

