homework Id: 
<form method="post" asp-action="SubmitMyHomework" enctype="multipart/form-data">
    <input type="file" name="file" /> решение (снимка или файл)
    <br />
    <br />
    <input type="text" name="notes" /> бележки
    <br />
    <br />
    <input type="submit" value="добави" />
</form>

<br />
<input type="button" value="обратно" onclick="Return()" />

<script>
    function Return() {
        window.close();
    }
</script>