@{
    //ViewData["Tasks"] = "Да се снима патриаршията";
}
<h2>Моите домашни</h2>
<style>
    table, th, td {
        border: 1px solid black;
        padding: 10px;
    }
</style>


<table style="width:100%">
    <tr>
        <th>Занятие:</th>
        <th>Задача за домашно:</th>
        <th>Решение:</th>
    </tr>


    @{
        int cnt = 1;
        var myHomeworks = ViewBag.MyHomeworks;
        foreach (var homework in myHomeworks)
        {
            <tr>
                <td>Id: @(homework.Id) @homework.Lection</td>
                <td>
                    @homework.TaskNotes
                    <a href="../homeworks/@(ViewBag.UserFK)/@(homework.TaskPicture)">
                        <img src="../pictures/fileicon.jpg" style="width:40px" />
                    </a>
                </td>
                <td>
                    @homework.SolutionNotes
                    <button onclick="window.open('/Homework/ApplyHomework')">Качи домашно</button>
                    @{
                        if (homework.SolutionPicture != null)
                        {
                            <a href="../homeworks/@(ViewBag.UserFK)/@(homework.SolutionPicture)">
                                <img src="../pictures/fileicon.jpg" style="width:40px" />
                            </a>

                        }
                        else
                        {
                            <span>няма домашно</span>
                        }
                    }
                </td>
            </tr>

            cnt++;
        }
    }
</table>
<br />
<br />
