@{
    //ViewData["Tasks"] = "Да се снима патриаршията";
}
<h2>Моите домашни</h2>

<br />
<span>Занятие:</span> <span style="position:relative; left: 200px;">Задача за домашно:</span> <span style="position:relative; left: 400px;">Решение:</span>
<br />


@{
    int cnt = 1;
    var myHomeworks = ViewBag.myHomeworks;
    foreach (var homework in myHomeworks)
    {
        <div>@cnt. @homework.TaskNotes <a href="default.asp"><img src="/pictures/file3.png" alt="HTML tutorial" style="width:26px;"></a> <span style="position:relative; left: 150px">@homework.SolutionNotes</span> <button onclick="window.open('/Homework/ApplyHomework')">Качи домашно</button></div>
        
        cnt++;
    }
}

<br />
<br />
