<h2>Електронен портал за работа с ученици</h2>

<p>Това е open source проект създаден от <b>slav4o.com</b></p>
<p>Софтуерът е предназначен в помощ на учителите в онлайн обучението,<br />
и се разпространява безплатно.</p>


