@{
    var myContext = new CommonModels.StudentDbContext();
    var students = myContext.UserProfiles;

}

<h2>Моите ученици</h2>

<br />

<div>
    @{

        {

            <div class="row">
                @foreach (var student in students)
                {
                    var picture = "";
                    <div class="col-md-3">
                        @{
                            if (System.IO.File.Exists($"{PictureProcessing.PictureProcessor.profileAbsolutePath}/{student.UserFK}_small.jpg"))
                            {
                                picture = $"{student.UserFK}_small.jpg";

                            }
                            else
                            {
                                picture = "student_small.jpg";
                            }

                        }
                        <a asp-controller="Homeworks" asp-action="MyHomeworks">
                            <img src="@PictureProcessing.PictureProcessor.profilePathWeb/@picture" />
                        </a>
                        <br />
                        @student.FullName
                        <br />
                    </div>

                }

            </div>
        }

    }
</div>