@{
    var myContext = new CommonModels.StudentDbContext();
    var students = myContext.UserProfiles;
    
}

<h2>Моите ученици</h2>

<br />

<div>
    @{

        {

            <div class="row">
                @foreach (var student in students)
                {

                    <div ondblclick="GetRow(@student.Id)" class="col-md-3">
                        @{
                            var picture = $"{student.UserFK}_small.jpg";
                            if(picture == null || picture == string.Empty)
                            {
                                picture = "student_small.jpg";
                            }
                        }
                        <img src="@PictureProcessing.PictureProcessor.profilePathWeb/@picture" />
                        <br />
                        @student.FullName
                        <br />
                    </div>

                }
             
            </div>
            }

        }
</div>