@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var myContext = new CommonModels.StudentDbContext();
    var students = myContext.UserProfiles;

}

<h2>Моите ученици</h2>

<br />

<div>
    @{

        {

            <div class="row">
                @foreach (var student in students)
                {

                    <div ondblclick="GetRow(@student.Id)" class="col-md-3">

                        <img src="@PictureProcessing.PictureProcessor.picturePathWeb/student_small.jpg" />
                        <br />
                        @student.PictureName
                        <br />
                    </div>

                }
             
            </div>
            }

        }
</div>