
@{
}

<h4>Променете вашата снимка</h4>

<h6>име на снимка: @ViewBag.profileData.PictureName </h6>

<br />
<form method="post" asp-action="SubmitProfilePicture" enctype="multipart/form-data">
    <input type="file" name="file" id="file" />
    <input type="submit" value="изпрати" />
</form>

<form method="get" asp-action="Index">
    <input type="submit" value="обратно" />

</form>