@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form method="post" asp-action="SubmitPart">
    <input type="url" name="href" /> снимка
    <br />
    <br />
    <input type="text" name="partname" /> име на частта
    <br />
    <br />
    <input type="text" name="parttype" /> описание
    <br />
    <br />
    <input type="text" name="price" /> цена
    <br />
    <br />
    <input type="submit" value="добави" />
</form>

<br />
<input type="button" value="обратно" onclick="Return()" />

<script>
    function Return() {
        window.close();
    }
</script>